.wrapper {
  align-self: center;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.heading {
    font-family: var(--playfair);
    font-size: 2rem;
}
