.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviews h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading {
  display: flex;
  gap: 0.5rem;
}

.name {
  font-weight: bold;
}

.comment {
  font-style: italic;
}

.rating {
  display: flex;
}

.rating svg {
  width: 20px;
  fill: var(--text);
}
