.indexWrapper {
  flex: 1;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.indexWrapper > * {
  margin: 0;
}

.heading {
  font-family: var(--playfair);
  font-size: 3rem;
}

.subheading {
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .heading {
    font-size: 2.5rem;
  }

  .subheading {
    font-size: 1.25rem;
  }
}
